<!DOCTYPE html>
<!-- 
***************************************************************
* PROJECT : NCHype Under-Construction Template
* AUTHOR : NCodeArt
***************************************************************
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="nc,ncodeart,slideshow,animation,youtube background,coming-soon,underconstruction">
    <meta name="author" content="NCodeArt">

    <title>H2 Performance</title>

    <!-- GOOGLE FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>

    <!-- FONT-ICON -->
    <link rel="stylesheet" type="text/css" href="../static/lib/et-line-font/style.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/Icon-font-7-stroke-PIXEDEN/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/themify-icons/themify-icons.css">

    <!-- DEFAULT-LIB -->
    <link rel="stylesheet" type="text/css" href="../static/lib/animation/animate.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" type="text/css"
          href="../static/lib/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/Magnific-Popup/magnific-popup.css">

    <!-- PLUGIN-LIB -->
    <link rel="stylesheet" type="text/css" href="../static/lib/partical-effect/partical-animation.css">

    <!-- TEMPLATE -->
    <link rel="stylesheet" type="text/css" href="../static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/nc-structure.css">
    <link rel="stylesheet" type="text/css" href="../static/css/nc-main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/nc-helper.css">
    <link rel="stylesheet" type="text/css" href="../static/css/nc-responsive.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">

</head>
<body>

<!-- PAGE-LOADER -->
<div class="page-loader-wrapper page-loader-wrapper-1 flex-cc">
    <div class="loader">
        <div class="stick1"></div>
        <div class="stick2"></div>
        <div class="stick3"></div>
        <div class="stick4"></div>
    </div>
</div><!-- / PAGE-LOADER -->

<!-- MAIN-WRAPPER -->
<div id="main-wrapper" class="main-wrapper">

    <!-- BACKGROUND -->
    <div class="bg-section bg-cover bg-cc" data-bgImage="../static/images/bg-24.jpg">
        <div class="overlay" style="background-color: rgba(0,0,0,0.45);"></div>
    </div><!-- / BACKGROUND -->

    <!-- [ RAIN ANIMATION ] -->
    <!--<div id="particles-js"></div>-->
    <!-- [ RAIN ANIMATION END ] -->

    <!-- HOME-WRAPPER -->
    <div id="home-wrapper" class="flex-cc page-wrapper">
        <div class="inner-wrapper">

            <!-- HOME-PAGE -->
            <div class="intro-section intro-section-1 animated s0-8" data-animOut="fadeOut" data-animIn="fadeIn">
                <div class="container">
                    <!-- TEXT-ANIMATION -->
                    <div class="text-animation">
                        <div class="hd-text">
                            <h2 class="main-text">Welcome to H2 Performance</h2>
                        </div>
                        <div class="carousel-widget" data-anim="fadeInUp" id="carousel-widget" data-items="1"
                             data-itemrange="false" data-tdrag="false" data-mdrag="false" data-pdrag="false"
                             data-autoplay="true" data-in="fadeIn" data-loop="true" data-hstop="true">
                            <div class="owl-carousel">
                                <div class="item"><h2 class="main-text">HTTP/2 Protocal Support</h2></div>
                                <div class="item"><h2 class="main-text">Front-End Resource Optimization</h2></div>
                                <div class="item"><h2 class="main-text">Fast Web Application</h2></div>
                                <div class="item"><h2 class="main-text">Check your site</h2></div>
                            </div>
                        </div>
                    </div><!-- / TEXT-ANIMATION -->

                    <!-- SUBSCRIBE-FORM -->
                    <div class="subscribe-form subscribe-form-1" data-animOut="fadeOutUp" data-animIn="fadeInUp">
                        <h2 class="inputStyle">http(s)://</h2>
                        <div class="field-group">
                            <input class="form-control" type="text" name="url" placeholder="example.com"/>
                            <button class="btn btn-glass" type="button" id="btsubmit">TEST</button>
                        </div>


                    </div><!-- / SUBSCRIBE-FORM -->
                    <div class="navigation-wrp navigation-wrp-1">
                        <div class="inner-wrp" id="content">
                            <table id="tickets" class="table" frame="void">
                                <tbody>
                                <tr>
                                    <td>
                                        <a href="https://www.h2perf.com">
                                            <h4 class="urltitle" id="urltitle0">h2perf.com</h4>
                                            <img src="../static/images/h2perf.png">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="https://www.h2perf.com">
                                            <h4 class="urltitle" id="urltitle1">h2perf.com</h4>
                                            <img src="../static/images/h2perf.png">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="https://www.h2perf.com">
                                            <h4 class="urltitle" id="urltitle2">h2perf.com</h4>
                                            <img src="../static/images/h2perf.png">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="https://www.h2perf.com">
                                            <h4 class="urltitle" id="urltitle3">h2perf.com</h4>
                                            <img src="../static/images/h2perf.png">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="https://www.h2perf.com">
                                            <h4 class="urltitle" id="urltitle4">h2perf.com</h4>
                                            <img src="../static/images/h2perf.png">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="https://www.h2perf.com">
                                            <h4 class="urltitle" id="urltitle5">h2perf.com</h4>
                                            <img src="../static/images/h2perf.png">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="https://www.h2perf.com">
                                            <h4 class="urltitle" id="urltitle6">h2perf.com</h4>
                                            <img src="../static/images/h2perf.png">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="https://www.h2perf.com">
                                            <h4 class="urltitle" id="urltitle7">h2perf.com</h4>
                                            <img src="../static/images/h2perf.png">
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- NAVIGATION -->
                    <!--<div class="navigation-wrp navigation-wrp-1">
                        <div class="inner-wrp">
                            <a href="#" data-page="left" class="nav-link hvr-sweep-to-left">Moreinfo</a>
                            <a href="#" data-page="right" class="nav-link hvr-sweep-to-right">Contact Us</a>
                        </div>
                    </div>-->

                </div>
            </div>
            <!-- / HOME-PAGE -->

        </div>

        <!-- SOCIAL BUTTON -->
        <div id='ss_menu' class="animated s0-8" data-animOut="fadeOut" data-animIn="fadeIn">
            <a href="https://www.facebook.com/groups/H2Korea/"><i class="fa fa-facebook-official"></i></a>
            <a href="https://twitter.com/NCodeArt"><i class="fa fa-twitter"></i></a>
            <a href="https://in.pinterest.com/ncodeart/"><i class="fa fa-pinterest"></i> </a>
            <a href="https://dribbble.com/NCodeArt"><i class="fa fa-dribbble"></i></a>

            <div class='menu'>
                <div class='share' id='ss_toggle' data-rot='180'>
                    <div class='circle'></div>
                    <div class='bar'></div>
                </div>
            </div>
        </div><!-- / SOCIAL BUTTON -->

    </div><!-- / HOME-WRAPPER -->

    <!-- PAGE LEFT -->
    <div id="page-left" class="pages scroll-bar">
        <div class="outer-wrp">

            <!-- CLOSE -->
            <div class="pg-close flex-cc">
                <span class="ti-close"></span>
            </div><!-- / CLOSE -->

            <!-- ABOUT-SECTION -->
            <div class="sections about-section about-section-1">
                <div class="container">

                    <!-- TITLE -->
                    <div class="title-wrp">
                        <h5 class="title mini">About</h5>
                        <hr class="hr-1">
                        <h1 class="title">Who we are</h1>
                        <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium
                            aliquet consectetur. Donec ornare convallis arcu</p>
                    </div><!-- / TITLE -->

                    <!-- CONTENT -->
                    <div class="content-wrp">
                        <P>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus leo et nisi
                            vestibulum, eu tincidunt mi gravida. Donec dui neque, eleifend a sodales sed, scelerisque
                            non dolor. Integer maximus auctor rutrum. Mauris dapibus placerat velit, ut suscipit lacus
                            interdum nec. Morbi dui lectus, fermentum eget efficitur at, fringilla in ligula. Mauris
                            faucibus risus vel sapien placerat euismod. Maecenas ac laoreet orci, rhoncus consectetur
                            neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus leo et nisi
                            vestibulum, eu tincidunt mi gravida. Donec dui neque, eleifend a sodales sed, scelerisque
                            non dolor. Integer maximus auctor rutrum. Mauris dapibus placerat velit, ut suscipit lacus
                            interdum nec. Morbi dui lectus, fermentum eget efficitur at, fringilla in ligula. Mauris
                            faucibus risus vel sapien placerat euismod. Maecenas ac laoreet orci, rhoncus consectetur
                            neque.
                        </P>
                    </div><!-- / CONTENT -->

                </div>
            </div>
            <!-- / ABOUT-SECTION -->

            <!-- WORK-SECTION -->
            <div class="sections work-section work-section-1">
                <div class="container">

                    <!-- TITLE -->
                    <div class="title-wrp">
                        <h5 class="title mini">Portfolio</h5>
                        <hr class="hr-1">
                        <h1 class="title">Our works</h1>
                        <p class="sub-title">Pellentesque efficitur arcu et nibh efficitur viverra. Maecenas sit amet
                            felis vel lorem sodales vehicula. Vestibulum vel molestie felis.</p>
                    </div><!-- / TITLE -->

                    <!-- CONTENT -->
                    <div class="content-wrp row">

                        <ul class="rw eq3 mb10 gt10 popgallery-widget">

                            <li class="cl">
                                <div class="portfolio-box portfolio-box1">
                                    <div class="overlay">
                                        <a href="../static/images/800x800_3.jpg" title="This is title of image"
                                           class="pop-img"><i class="fa fa-search"></i></a>
                                        <div class="caption">
                                            <h3 class="hd">Consetetur sadipscing</h3>
                                            <p class="txt">Lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div><!-- /.overlay -->
                                    <img src="../static/images/800x800_3.jpg" alt="image">
                                </div><!-- /.portfolio-box -->
                            </li><!-- /.cl -->

                            <li class="cl">
                                <div class="portfolio-box portfolio-box1">
                                    <div class="overlay">
                                        <a href="../static/images/800x800_4.jpg" title="This is title of image"
                                           class="pop-img"><i class="fa fa-search"></i></a>
                                        <div class="caption">
                                            <h3 class="hd">Consetetur sadipscing</h3>
                                            <p class="txt">Lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div><!-- /.overlay -->
                                    <img src="../static/images/800x800_4.jpg" alt="image">
                                </div><!-- /.portfolio-box -->
                            </li><!-- /.cl -->

                            <li class="cl">
                                <div class="portfolio-box portfolio-box1">
                                    <div class="overlay">
                                        <a href="../static/images/800x800_5.jpg" title="This is title of image"
                                           class="pop-img"><i class="fa fa-search"></i></a>
                                        <div class="caption">
                                            <h3 class="hd">Consetetur sadipscing</h3>
                                            <p class="txt">Lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div><!-- /.overlay -->
                                    <img src="../static/images/800x800_5.jpg" alt="image">
                                </div><!-- /.portfolio-box -->
                            </li><!-- /.cl -->

                            <li class="cl">
                                <div class="portfolio-box portfolio-box1">
                                    <div class="overlay">
                                        <a href="../static/images/800x800_6.jpg" title="This is title of image"
                                           class="pop-img"><i class="fa fa-search"></i></a>
                                        <div class="caption">
                                            <h3 class="hd">Consetetur sadipscing</h3>
                                            <p class="txt">Lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div><!-- /.overlay -->
                                    <img src="../static/images/800x800_6.jpg" alt="image">
                                </div><!-- /.portfolio-box -->
                            </li><!-- /.cl -->

                            <li class="cl">
                                <div class="portfolio-box portfolio-box1">
                                    <div class="overlay">
                                        <a href="../static/images/800x800_7.jpg" title="This is title of image"
                                           class="pop-img"><i class="fa fa-search"></i></a>
                                        <div class="caption">
                                            <h3 class="hd">Consetetur sadipscing</h3>
                                            <p class="txt">Lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div><!-- /.overlay -->
                                    <img src="../static/images/800x800_7.jpg" alt="image">
                                </div><!-- /.portfolio-box -->
                            </li><!-- /.cl -->

                            <li class="cl">
                                <div class="portfolio-box portfolio-box1">
                                    <div class="overlay">
                                        <a href="../static/images/800x800_8.jpg" title="This is title of image"
                                           class="pop-img"><i class="fa fa-search"></i></a>
                                        <div class="caption">
                                            <h3 class="hd">Consetetur sadipscing</h3>
                                            <p class="txt">Lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div><!-- /.overlay -->
                                    <img src="../static/images/800x800_8.jpg" alt="image">
                                </div><!-- /.portfolio-box -->
                            </li><!-- /.cl -->

                        </ul>

                    </div><!-- / CONTENT -->

                </div>
            </div>
            <!-- / WORK-SECTION -->

            <!-- SERVICES-SECTION -->
            <div class="sections service-section service-section-1">
                <div class="container">

                    <!-- TITLE -->
                    <div class="title-wrp">
                        <h5 class="title mini">Services</h5>
                        <hr class="hr-1">
                        <h1 class="title">What we offer</h1>
                        <p class="sub-title">Mauris eleifend aliquam mauris nec semper. Phasellus enim mauris, euismod
                            quis arcu eu, convallis tincidunt dui.</p>
                    </div><!-- / TITLE -->

                    <!-- CONTENT -->
                    <div class="content-wrp">
                        <div class="row gt0">

                            <!-- INFO-BOX -->
                            <div class="col-md-4">
                                <div class="info-box info-box-1">
                                    <div class="img flex-cc"><span class="pe-7s-wallet"></span></div>
                                    <div class="info">
                                        <h2 class="hd">Values</h2>
                                        <hr class="hr-1">
                                        <p class="sub-txt">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed
                                            diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
                                    </div>
                                </div>
                            </div><!-- / INFO-BOX -->

                            <!-- INFO-BOX -->
                            <div class="col-md-4">
                                <div class="info-box info-box-1">
                                    <div class="img flex-cc"><span class="pe-7s-like2"></span></div>
                                    <div class="info">
                                        <h2 class="hd">Strategy</h2>
                                        <hr class="hr-1">
                                        <p class="sub-txt">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed
                                            diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
                                    </div>
                                </div>
                            </div><!-- / INFO-BOX -->

                            <!-- INFO-BOX -->
                            <div class="col-md-4">
                                <div class="info-box info-box-1">
                                    <div class="img flex-cc"><span class="pe-7s-monitor"></span></div>
                                    <div class="info">
                                        <h2 class="hd">Responsive</h2>
                                        <hr class="hr-1">
                                        <p class="sub-txt">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed
                                            diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
                                    </div>
                                </div>
                            </div><!-- / INFO-BOX -->

                        </div>

                        <div class="row gt0">

                            <!-- INFO-BOX -->
                            <div class="col-md-4">
                                <div class="info-box info-box-1">
                                    <div class="img flex-cc"><span class="pe-7s-paint"></span></div>
                                    <div class="info">
                                        <h2 class="hd">Design</h2>
                                        <hr class="hr-1">
                                        <p class="sub-txt">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed
                                            diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
                                    </div>
                                </div>
                            </div><!-- / INFO-BOX -->

                            <!-- INFO-BOX -->
                            <div class="col-md-4">
                                <div class="info-box info-box-1">
                                    <div class="img flex-cc"><span class="pe-7s-headphones"></span></div>
                                    <div class="info">
                                        <h2 class="hd">Support</h2>
                                        <hr class="hr-1">
                                        <p class="sub-txt">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed
                                            diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
                                    </div>
                                </div>
                            </div><!-- / INFO-BOX -->

                            <!-- INFO-BOX -->
                            <div class="col-md-4">
                                <div class="info-box info-box-1">
                                    <div class="img flex-cc"><span class="pe-7s-smile"></span></div>
                                    <div class="info">
                                        <h2 class="hd">Updates</h2>
                                        <hr class="hr-1">
                                        <p class="sub-txt">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed
                                            diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
                                    </div>
                                </div>
                            </div><!-- / INFO-BOX -->

                        </div>
                    </div><!-- / CONTENT -->

                </div>
            </div>
            <!-- / SERVICES-SECTION -->

        </div>
    </div>

</div><!-- / MAIN-WRAPPER -->

<!-- DEFAULT-SCRIPT -->
<script src="../static/lib/jquery/jquery-1.11.3.min.js"></script>
<script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/lib/jquery-validation/jquery.validate.min.js"></script>

<!-- PLUGIN SCRIPT -->
<script src="../static/lib/partical-effect/particles.min.js"></script>
<script src="../static/lib/partical-effect/partical-animation.js"></script>
<script src="../static/js/plugins.js"></script>

<!-- TEMPLATE SCRIPT -->
<script src="../static/js/nc-common.js"></script>
<!-- CUSTOM SCRIPT -->
<script src="../static/js/jsonp.js"></script>

</body>
</html>